body {
  margin-left: 2em;
  margin-right: 2em;
  font-family: Garamond, Georgia, serif;
}
h1 {
  font-weight: bolder;
  font-size: 1.5em;
  margin-left: -1em;
  margin-bottom: 0em;
}
h2 {
  font-weight: bold;
  font-size: 1.1em;
  margin-left: -0.5em;
}
h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.1em;
  margin-left: -0.5em;
}
dt {
  font-style: italic;
}
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: purple;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}
blockquote {
  font-style: italic;
}
span.code {
  font-family: Courier New, monospace;
  font-size: 0.9em;
}